body {
  color: white;
  background: black;
  margin: 0px;
  font-family: "Pirata One", system-ui;
  margin-bottom: 100px;
}

header{
  border-bottom: solid 2px rgb(0, 0, 150) 
}
header{
  padding: 20px
}
header{
  font-size:40px;
  color: rgb(0, 0, 255)
}
.chamada{
  background: rgb(150, 8, 8)
}
.chamada{
  padding-bottom: 80px;
 padding-top: 80px;
 display: flex;
 justify-content: center;
}

.chamada-texto{
 margin-right: 5%;
}

h1{
  font-size: 40px;
}

p{
  font-size: 30px;
}

.categoria-video{
 display: flex; 
 overflow-x: auto;
 gap: 20px;
}

.categoria{
 padding-right: 20px;
 padding-left: 20px;
}

.categoria-video img{
 opacity: 0.5;
 height: 200px;

}

.categoria-video img:hover{
 opacity: 1.0;
 border: 1px solid rgb(148, 9, 9);
}

.categoria h2{
  color: rgb(255, 0, 0);
}